.home{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(180px,auto);
}

.home .box{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--soft-bg);
    
}

.home .bc1{
    grid-column: span 1;
    grid-row: span 3;

}
.home .bc2{
    grid-column: span 1;
    grid-row: span 1;

}
.home .bc3{
    grid-column: span 1;
    grid-row: span 1;

}
.home .bc4{
    grid-column: span 1;
    grid-row: span 3;

}

.home .bc5{
    grid-column: span 2;
    grid-row: span 2;

}